.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .product-gallery {
    display: flex;
    gap: 35px; 
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .product-container {
    position: relative;
    width: 280px; 
    height: 280px;
    overflow: hidden; 
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }


  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
    transition: filter 0.3s ease, transform 0.3s ease;
  }

  .product-container:hover .product-image {
    filter: blur(5px); 
    transform: scale(1.1); 
  }

  .product-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: rgb(61, 61, 61); 
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    pointer-events: none; 
  }


  .video-section{
    position: relative;
    width: 98.8vw; 
    overflow: hidden; 
  }




  .video-container {
    position: relative;
    width: 100%;
    height: 30rem;
  }

  .product-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    object-fit: cover; /* Makes sure the video covers the area */
    z-index: -1;
  }

  .text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text */
    text-align: center; /* Center align text horizontally */
    color: white; /* Ensure the text is visible */
    z-index: 1; /* Place text above the video */
}

  .brand-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}


.hero-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    z-index: 1;
}

.cta-button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #f57c00;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e56700;
}



  
  